body{
  background-color: rgb(8,8,154);
}

.App {
  margin:100px 30%;
  border-radius: 20px;
  border:1px solid #fff;
  width: 400px;
  height: 300px;
 text-align: center;
 padding: 50px;
}
.App h2{
  color:#fff;
  font-size: 32px;
}
.App ul{
  list-style: none;
  list-style-type: "✔️";

}
.App ul li {
  color:#fff;
  cursor: pointer;
  font-size: 22px;

}
.App input{
  border:none;
  outline: none;
  height: 30px;
  margin-top: -5px;
}
.App .btn2{
  width: 120px;
  height: 30px;
  text-align: center;
  color:#fff;
  background-color: rgb(245,183,67);
  padding: 10px;
  cursor: pointer;
  border:none;
  outline: none;
margin-top: 10px;
margin-left: 20px;
}
.diffrent{
  color:yellow !important;
  text-decoration: line-through;
  list-style-type:" ✅";

}
.App ul div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App .btn1{
  border:none;
  outline: none;
  color:#000;
  margin-left: 80px;
  
margin-top:3px;
border-radius: 10px;
cursor: pointer;

}